/* Page sizing */
#pageContainer{
  width: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

/* set constant border around page */
#pageTemplateContainer {
  border:4px solid #9e9e9e; 
  margin-bottom: .5rem !important;
  max-width: 97.5vw;
}

/* Keeps the picture from looking really dumb on iPad/Tablets */
.responsiveProfile {
  max-width: 450px;
}

/* overrites materialize transition background label behavior ***Please leave alone, this tooks hours to figure out*** */
.changeFormTransitionBehavior {
    background-color: white !important;
}
/* I am not sure why this cannot be applied to the whole ul. Mobile nav css */
.largerMobile{
    font-size: auto !important;
    margin-top: 5vw !important;
}
.mobile-demo {
  z-index: 1000;
}

/* have the log in option stand out for returning customers desktop and mobile */
.log-in-black {
    color: black !important;
}

/* Navbar content styling */
#navContainer{
  min-width: 100% !important;
  padding: 0px;

}
.nav-extended, .nav-wrapper {
  z-index: 1;
}
nav {
  padding-right: 50px;
  padding-left: 0px;
}
#home-page-logo {
    margin-left: 3%;
} 
.sidenav-overlay {
  z-index: 100;
}
.aboutButton, 
#createAccountTrig, 
#signInFirebase {
  font-size: 20px;
}
.tabs {
  margin-left: 1%;
}

/* SCroll Bar */
#scrollBar {
  position: sticky;
  top: 0;
  bottom: 0;
}

/* Sticky footer */
.footer-li {
  float: left;
  margin-bottom: 0px;
  margin-top: 4px;
  font-size: 20px;
}
#footerContainer {
margin-bottom: 30px;
width: 90%;
font-size: x-large;
color: black !important;
}

/* height of sticky header */
.homePageContainer, #aboutContainer {
  padding-top: 30px; 
}

/* used to maximize modal area to make forms look better */
.modal {
    width: 60% !important; 
    max-height: 90% !important;
}
.modal1 {
  z-index: 1;
  background-color: aqua;
  position: fixed;
  margin: auto;
  padding: 50px;

}

/* Styling for about page */
#aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.center-header {
  text-align: center;
}
/* Bio Cards */
.card-action {
  line-height: 1.5;
}
.card-image {
  max-height: 50% !important;
}
/* Features list */
.coreFeatureL {
  border: 2px solid #9e9e9e;
  margin:2px;
  float:left !important;
  margin-top: 4%;
  margin-bottom: 1%;
}
.coreFeatureR {
  border: 2px solid #9e9e9e;
  margin:2px;
  float:right !important;
  margin-top: 4%;
  margin-bottom: 1%;

}
.featureButtonL {
  margin: 5px;
  float: left;
}
.featureButtonR {
  margin: 5px;
  float: right;
}
.featureList {
width: 90%;
display: block;
margin-left: auto;
margin-right: auto;
}

/* log-in modal */
.row .col .input-field{
    margin-bottom: 5px;
}

/* create account cancel button */
#waves-red {
    background-color: rgba(207, 0, 15, .8);
}

/* Log in content */
.logInOptions {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.logIn {
  text-align: center;
  font-size: x-large;
  color: black !important;
}
.logInIcon {
  float: left;
}
.collection a.collection-item {
      margin: 0px;
}

/* ***CSS for slider*** */


* {box-sizing:border-box}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  border: 2px solid black;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
.centerSlideImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #717171;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  background-color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0.001px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background-color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
